.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.profile-card{
    width: 300px;
    height: auto;
    border: 1px solid #c3c3c3;
    border-radius: 6px;
    box-shadow: 0 0 12px 6px #c3c3c3;
}
.photo img{
    max-width: 100%;
}
.name{
    text-align: center;
    font-size: 18pt;
    font-weight: 900;
    font-family: sans-serif;
    padding: .1rem 1rem;
    color: #323232;
}